body {
    color: #1E1E1E;
    font: normal normal normal 0.75em/1.73em Verdana, Arial, Geneva, Helvetica, sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 8px;
    width: 600px;
}

input[type="text"],
button {
    padding: 4px 5px;
    border: 1px solid #dddddd;
}

button {
    border-radius: 3px;
    background: #f5f5f5;
}

button:not([disabled]) {
    cursor: pointer;
}

button:hover:not([disabled]) {
    background: #efefef;
}

button:focus:not([disabled]) {
    background: #e2e2e2;
    outline: none;
}

button:active:not([disabled]) {
    background: #d2d2d2;
    outline: none;
}

#set-to-current-page-button {
    margin-right: 10px;
}

header {
    background: #f2f2f2;
    margin: -8px -8px 0 -8px;
    padding: 8px 8px 0 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
}

nav {
    font-size: 99%;
    margin-top: 1em;
    display: flex;
    align-items: center;
}

#tabs-left,
#tabs-right {
    padding: 0px;
    margin: 0px;
    display: flex;
}

#tabs-left {
    margin-right: 10px;
}

#tabs-right  {
    font-size: 10px;
    margin-left: auto;
}

.nav-item,
.open-tab-button {
    display: block;
    list-style-type: none;
}

.open-tab-button {
    text-decoration: none;
    padding: 5px;
    white-space: nowrap;
}

li.open-tab-button {
    border-bottom: 3px solid #000000;
}

a.open-tab-button {
    border-bottom: 3px solid #f2f2f2;
}

#urls-being-searched
{
    padding: 0px;
}

#urls-being-searched li {
    list-style-type: none;
}

#crawl-url-and-button {
    padding-left: 35px;
    padding-top: 5px;
}

#icon {
    position:absolute;
    top: 11px; 
    left: 9px; 
    z-index: 10;
    width: 25px;
    height: 25px;
}

#urls-being-searched li:nth-child(even) {
    background-color: #f8f8f8
}

#report-outer-root {
    overflow-x: scroll;
}
